<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cw2_adv_java_2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeController</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>com.controller.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/addemp</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EmployeeValidationFilter</display-name>
    <filter-name>EmployeeValidationFilter</filter-name>
    <filter-class>com.filter.EmployeeValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmployeeValidationFilter</filter-name>
    <url-pattern>/addemp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SessionScope</display-name>
    <servlet-name>SessionScope</servlet-name>
    <servlet-class>com.controller.SessionScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionScope</servlet-name>
    <url-pattern>/SessionScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionInvalidateController</display-name>
    <servlet-name>SessionInvalidateController</servlet-name>
    <servlet-class>com.controller.SessionInvalidateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInvalidateController</servlet-name>
    <url-pattern>/SessionInvalidateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallByJs</display-name>
    <servlet-name>CallByJs</servlet-name>
    <servlet-class>com.controller.CallByJs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallByJs</servlet-name>
    <url-pattern>/callbyjs</url-pattern>
  </servlet-mapping>
</web-app>